:root {
    --color-primario: #ffa724;
    --color-secundario: #0c0c0c;
}
html{
    scroll-behavior: smooth;
}
.body{
    background: #e9e9e9;
    font-family: 'Courier New', Courier, monospace;
}
.separador{
    width: 300px;
    height: 1px;
    background: linear-gradient(to right, transparent,var(--color-primario),transparent);
    margin: auto;
    align-items: center;
    border-radius: 5px;
}
.separador-horizontal{
    width: 1px;
    height: 50%;
    background: linear-gradient(to right, transparent,silver,transparent);
    border-radius: 5px;
}
/* HEADER */
.header {
    width: 100%;
    padding: 10px 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: radial-gradient(var(--color-secundario) 50%,black);
    box-shadow: 0 0 10px black;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.header__a{
    text-decoration: none;
}
.header__span {
    font-weight: bold;
    color: var(--color-primario);
    font-family: 'Dancing Script', cursive;
    filter: drop-shadow(0px 0px 1px rgb(190, 0, 0));
    padding: 0;
    margin: 0;
    transition: filter .3s ease-in-out;
    font-size: 2rem;
}

/* NAV */
.nav{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.nav__ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    justify-content: center;
    padding: 0;
}
.nav__li-a{
    text-decoration: none;
}
.nav__button{
    display: flex;
    gap: 5px;
    font-weight: bold;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
    background-color: #0c0c0c;
    color: var(--color-primario);
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-primario);
    overflow: hidden;
    border: none;
    position: relative;
    transition: color .3s ease-in-out, box-shadow 0.4s ease-in-out;
}
.nav__button-span{
    position: relative;
    z-index: 5;
    max-width: 100%;
    font-size: 1rem;
}
.nav__button::after{
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: -110%;
    transition: all 0.3s ease-in-out;
    z-index: 4;
    border-bottom: 30px solid var(--color-primario);
    border-right: 14px solid transparent;
}
.nav__button:hover{
    color: var(--color-secundario);
    box-shadow: 0 0 15px var(--color-primario);
}
.nav__button-icon{
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 5;
}
.nav__button-img{
    width: 100%;
    height: 100%;
}
.nav__button:hover .nav__button-icon{
    display: block;
    top: 0;
    opacity: 1;
}
.nav__button:hover::after{
    top: 0;
    left: 0;
}
.nav__button:active{
    transform: scale(1.05);
}
.nav__button-active{
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
    color: var(--color-secundario);
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color-primario);
    overflow: hidden;
    border: none;
    position: relative;
    transition: color .3s ease-in-out, box-shadow 0.4s ease-in-out;
    background-color: var(--color-primario);
}
.nav-btn{
    width: 20px;
    height: 3px;
    background-color: var(--color-primario);
    position: relative;
    display: none;
}
.nav-btn::before,
.nav-btn::after{
    width: 20px;
    height: 3px;
    background-color: var(--color-primario);
    position: absolute;
    content: '';
    left: 0px;
}
.nav-btn::before{
    top: -8px;
}
.nav-btn::after{
    top: 8px;
}
.nav-btn,.nav-btn::before,
.nav-btn::after{
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.nav-btn__animacion{
    background-color: transparent;
}
.nav-btn__animacion::before{
    top: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    background: rgb(255, 187, 0);
}
.nav-btn__animacion::after{
    top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background: rgb(255, 187, 0);
}

/* CONTENIDO PRINCIPAL */
.main{
    width: 100%;
    position: relative;
    margin-top: 60px;
    z-index: 50;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titulo__h1{
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.titulo__icon{
    position: relative;
    top: 20px;
    width: 50px;
}
.grid-contenedor{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3, 400px);
    align-items: center;
    justify-content: space-around;
    row-gap: 50px;
}
.producto-wrapp{
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ATRAPASUEÑOS - ARTICULOS */
.articulo-section{
    width: 80%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: auto;
    scroll-behavior: smooth;
    scroll-margin-top: 115px;
}
.articulo__titulo{
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: var(--color-secundario);
    color: var(--color-primario);
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}
.articulo__titulo-img{
    width: 30px;
}
.articulo__parrafo{
    text-align: center;
    margin: auto;
    width: 80%;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
.articulos-contenedor{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3, 350px);
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}
.producto{
    width: 250px;
    height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: relative;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.producto__precio{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background: var(--color-primario);
    border-radius: 0 0 5px;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0 0 5px black;
}
.producto__img{
    width: 100%;
    height: 100%;
}
.producto-btn{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    transition: bottom .3s ease-in-out;
    bottom: -50px;
}
.producto-btn__wsp{
    width: 50%;
    display: block;
    text-align: center;
    background: rgb(60, 255, 60);
    padding: 5px;
    color: #f1f1f1;
    font-size: 1.2rem;
}
.producto-btn__eye{
    width: 50%;
    display: block;
    text-align: center;
    background: var(--color-primario);
    padding: 5px;
    color: black;
    font-size: 1.2rem;
}
.producto:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transform: scale(1.05);
}
.producto:hover .producto-btn{
    transition: all .3s ease-in-out;
    bottom: 0;
}
.producto-btn__wsp:active{
    transform: scale(1.2);
    background: rgb(15, 211, 15);
    color: var(--color-secundario);
}
.producto-btn__eye:active{
    transform: scale(1.2);
    background: #ffd82d;
    color: var(--color-secundario);
}

/* REDES-SIDEBAR */
.redes-menu{
    width: 60px;
    height: 120px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 200;
    top: 50%;
    left: -36px;
    transition: left 0.3s ease-in-out;
}
.redes-menu-on{
    left: 0;
}
.redes-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    justify-content: space-around;
    text-decoration: none;
    background: var(--color-secundario);
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 0 5px black;
}
.redes-box2{
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
    display: flex;
    border-radius: 0px 12px 12px 0px;
    color: var(--color-secundario);
    box-shadow: 0 0 5px var(--color-primario);
    background: var(--color-primario);
    padding: 3px;
    box-shadow: 0 0 5px black;
}
.redes-box2__arrow{
    transition: transform 0.3s ease;
}
.redes-box2-flip{
    transform: rotate(180deg);
}
.redes-box__link{
    text-decoration: none;
}
.redes-box__fb{
    color: white;
    background: #0055ff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px #0055ff;
}
.redes-box__ig{
    color: white;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0 0 5px #d9317a;
}

/* footer */
.footer{
    width: 100%;
    height: 100px;
    background-color: var(--color-secundario);
    display: flex;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}
.footer__p{
    margin: auto;
    color: #f1f1f1;
    letter-spacing: 1px;
}

/* RESPONSIVE */
@media (max-width: 1025px){
    .grid-contenedor{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }
    .header{
        align-items: center;
        justify-content: space-around;
        height: 100px;
    }
    .header__span{
        font-size: 1.8rem;
    }
    .separador{
        display: block;
    }
    .nav{
        display: block;
    }
    .nav__button:active{
        color: var(--color-secundario);
        box-shadow: 0 0 15px var(--color-primario);
    }
    .nav__button:active .nav__button-icon{
        display: block;
        top: 0;
        opacity: 1;
    }
    .nav__button:active::after{
        top: 0;
        left: 0;
    }
    .nav__button-span{
        font-size: 1rem;
    }
    .nav__menu-responsive{
        left: 0;
    }
    .nav-btn{
        display: none;
    }
}


@media (max-width: 768px){
    .carousel-wrapp{
        padding: 0;
    }
    .nav__button-span{
        font-size: 1rem;
    }
    .articulos-contenedor {
        gap: 25px 50px;
    }
    .envios__p{
        margin: 0;
    }
    .producto{
        width: 220px;
        height: 320px;
    }
}

@media (max-width: 481px){
    .header{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding: 0;
    }
    .separador{
        display: none;
    }
    .nav-btn{
        display: block;
    }
    .nav__ul{
        position: absolute;
        background: var(--color-secundario);
        left: -120%;
        top: 80px;
        width: 100%;
        padding: 25px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        transition: left 0.3s ease-in-out;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    }
    .nav__menu-responsive{
        left: 0;
    }
    .separador{
        display: none;
    }
    .header__span{
        font-size: 1.5rem;
        padding-top: 10px;
    }
    .nav__button{
        width: fit-content
    }
    .nav__button-span{
        font-size: .8rem;
    }
    .hero-contenedor{
        height: 80vh;
        margin-top: 80px;
    }
    .carousel-wrapp{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }
    .carousel-card,
    .carousel-card1{
        width: 100%;
        flex-direction: column;
    }
    .carousel-info{
        width: 80%;
        height: 50%;
        margin: auto;
    }
    .carousel-card__p1,
    .carousel-card__p{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .carousel-card__a{
        font-size: 1.5rem;
        padding: 5px 10px;
        margin-left: 5px;
    }
    .main{
        margin-top: 40px;
    }
    .titulo__h1{
        font-size: 1.5rem;
    }
    .titulo__icon{
        top: 10px;
        width: 40px;
    }
    .porta-maceta-section{
        scroll-margin-top: 80px;
    }
    .articulos-contenedor {
        gap: 30px 0;
    }
    .articulo__titulo{
        margin: 30px auto;
    }
    .articulo__parrafo{
        text-align: center;
        margin: 0 auto;
    }
    .envios-section{
        flex-direction: column;
    }
    .envios__p{
        width: 80%;
        font-size: 2rem;
    }
    .envios__img{
        width: 50%;
    }
}

