:root {
    --color-primario: #ffa724;
    --color-secundario: #0c0c0c;
}
.body{
    background: #e9e9e9;
    font-family: 'Courier New', Courier, monospace;
}
.separador{
    width: 300px;
    height: 1px;
    background: linear-gradient(to right, transparent,var(--color-primario),transparent);
    margin: auto;
    align-items: center;
    border-radius: 5px;
}
.separador-horizontal{
    width: 1px;
    height: 50%;
    background: linear-gradient(to right, transparent,silver,transparent);
    border-radius: 5px;
}
/* HEADER */
.header {
    width: 100%;
    padding: 15px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: radial-gradient(var(--color-secundario) 50%,black);
    box-shadow: 0 0 10px black;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.header__a{
    text-decoration: none;
}
.header__h1 {
    color: var(--color-primario);
    font-family: 'Dancing Script', cursive;
    filter: drop-shadow(2px 2px 1px #9e5f00);
    padding: 0;
    margin: 0;
    transition: filter .3s ease-in-out;
}
.header__h1:hover{
    filter: drop-shadow(0px 0px 1px rgb(190, 0, 0));
}

/* NAV */
.nav{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.nav__ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    justify-content: center;
    padding: 0;
}
.nav__li-a{
    text-decoration: none;
}
.nav__button{
    display: flex;
    gap: 5px;
    font-weight: bold;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
    background-color: #0c0c0c;
    color: var(--color-primario);
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-primario);
    overflow: hidden;
    border: none;
    position: relative;
    transition: color .3s ease-in-out, box-shadow 0.4s ease-in-out;
}
.nav__button-span{
    position: relative;
    z-index: 5;
    max-width: 100%;
    font-size: 1rem;
}
.nav__button::after{
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: -110%;
    transition: all 0.3s ease-in-out;
    z-index: 4;
    border-bottom: 30px solid var(--color-primario);
    border-right: 14px solid transparent;
}
.nav__button:hover{
    color: var(--color-secundario);
    box-shadow: 0 0 15px var(--color-primario);
}
.nav__button-icon{
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 5;
}
.nav__button-img{
    width: 100%;
    height: 100%;
}
.nav__button:hover .nav__button-icon{
    display: block;
    top: 0;
    opacity: 1;
}
.nav__button:hover::after{
    top: 0;
    left: 0;
}
.nav__button:active{
    transform: scale(1.05);
}
.nav__button-active{
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
    color: var(--color-secundario);
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color-primario);
    overflow: hidden;
    border: none;
    position: relative;
    transition: color .3s ease-in-out, box-shadow 0.4s ease-in-out;
    background-color: var(--color-primario);
}
.nav-btn{
    width: 20px;
    height: 3px;
    background-color: var(--color-primario);
    position: relative;
    display: none;
}
.nav-btn::before,
.nav-btn::after{
    width: 20px;
    height: 3px;
    background-color: var(--color-primario);
    position: absolute;
    content: '';
    left: 0px;
}
.nav-btn::before{
    top: -8px;
}
.nav-btn::after{
    top: 8px;
}
.nav-btn,.nav-btn::before,
.nav-btn::after{
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.nav-btn__animacion{
    background-color: transparent;
}
.nav-btn__animacion::before{
    top: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    background: rgb(255, 187, 0);
}
.nav-btn__animacion::after{
    top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background: rgb(255, 187, 0);
}

/* HERO-SECTION */
.hero-contenedor{
    width: 100%;
    height: 600px;
    background-color: var(--color-primario);
    box-shadow: 0 0 10px black;
    z-index: 5;
    position: relative;
    margin-top: 130px;
}
.hero-bg{
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
}
.hero-bg__img{
    width: 100%;
    height: 100%;
    opacity: .09;
    background: url(https://rezequielf01.github.io/73artesanias/imagenes/atrapasuenos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.hero-carousel{
    z-index: 15;
    height: fit-content;
}
.carousel-wrapp{
    max-width: 100%;
    max-height: 500px;
    padding: 25px 0;
}
.carousel-card1{
    width: 80%;
    height: 500px;
    display: flex;
    margin: auto;
    border-radius: 12px;
}
.carousel-card{
    width: 80%;
    height: 500px;
    display: flex;
    margin: auto;
}
.carousel-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.carousel-img__img1{
    width: 100%;
    height: 100%;
}
.carousel-img__img{
    width: 100%;
    height: 100%;
}
.carousel-card__img{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px black;
}
/* carousel-card1 */
.carousel-card__p1, .carousel-card__p{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    width: 100%;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.carousel-card__a{
    text-decoration: none;
    color: var(--color-primario);
    background: var(--color-secundario);
    line-height: 60px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    font-size: 2rem;
    box-shadow: 0 0 5px black;
}

.anim-flotar{
    animation: anim-flotar 2.3s infinite ease backwards;
    top: 0;
    position: relative;
}

@keyframes anim-flotar {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
  }


/* MAIN */
.main{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* ATRAPASUEÑOS-SECTION */
.articulos-section{
    width: 80%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.articulos__titulo{
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}
.articulos__titulo-img{
    width: 50px;
    position: relative;
    top: 15px;
}
.articulos-wrapp{
    padding: 10px;
}
.articulo-card{
    width: 225px;
    height: 500px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    transition: box-shadow .3s ease-in-out;
    margin: auto;
    padding: 10px;
}
.articulo-card:hover{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .8);
}
.articulo-card-img:hover .articulo-card__ojo{
    opacity: 1;
}
.articulo-card__img:hover{
    transform: scale(1.2);
}
.articulo-card-img{
    width: 100%;
    height: 65%;
    position: relative;
    overflow: hidden;
}
.articulo-card__img{
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
}
.articulo-card__ojo{
    color: var(--color-primario);
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.articulo-card-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    justify-content: space-between;
    position: relative;
}
.articulo-card__nombre{
    margin: 0;
    padding: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.articulo-card__precio{
    padding: 5px;
    font-weight: bold;
}
.articulo-card__desc{
    margin: 0;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}
.articulo-card-estrellas{
    padding: 5px;
    color: orange;
}
.articulo-card__comprar{
    width: 100%;
    background: rgb(62, 248, 62);
    display: flex;
    border-radius: 0 0 12px 12px;
    text-decoration: none;
}
.articulo-card__wsp{
    font-size: 1.5rem;
    color: #f1f1f1;
    text-align: center;
    margin: auto;
    align-items: center;
    padding: 5px;
}

/* PORTAMACETA - SECTION */
.articulos-contenedor{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
}
.articulo2-card{
    width: 250px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    text-align: center;
    z-index: 10;
    background: #f1f1f1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.articulo2-card:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.articulo2-img{
    width: 100%;
    height: 100%;
    z-index: 20;
    position: relative;
}
.articulo2-img__img{
    width: 100%;
}
.articulo2-info{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 35;
    opacity: 0;
    transition: opacity .3s ease;
}
.articulo2-card:hover .articulo2-info{
    opacity: 1;
}
.articulo2-info__precio{
    width: 50%;
    height: 50px;
    color: var(--color-primario);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 35;
    background: var(--color-secundario);
    border-bottom-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 1px;
}
.articulo2-card__comprar,
.articulo2-card__wsp{
    width: 100%;
    top: 233px;
    left: 0;
    position: absolute;
    background: linear-gradient(to top, rgb(62, 248, 62) 60%, transparent);
}
.articulo2-card__comprar{
    width: 100%;
    display: flex;
    border-radius: 0 0 12px 12px;
    text-decoration: none;
    
}
.articulo2-card__wsp{
    font-size: 1.5rem;
    color: #f1f1f1;
    text-align: center;
    margin: auto;
    align-items: center;
    padding: 5px;
}

/* LLAMADORES - SECTION */


/* REDES-SIDEBAR */
.redes-menu{
    width: 60px;
    height: 120px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 200;
    top: 50%;
    left: -36px;
    transition: left 0.3s ease-in-out;
}
.redes-menu-on{
    left: 0;
}
.redes-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    justify-content: space-around;
    text-decoration: none;
    background: var(--color-secundario);
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 0 5px black;
}
.redes-box2{
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
    display: flex;
    border-radius: 0px 12px 12px 0px;
    color: var(--color-secundario);
    box-shadow: 0 0 5px var(--color-primario);
    background: var(--color-primario);
    padding: 3px;
    box-shadow: 0 0 5px black;
}
.redes-box2__arrow{
    transition: transform 0.3s ease;
}
.redes-box2-flip{
    transform: rotate(180deg);
}
.redes-box__link{
    text-decoration: none;
}
.redes-box__fb{
    color: white;
    background: #0055ff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px #0055ff;
}
.redes-box__ig{
    color: white;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0 0 5px #d9317a;
}

/* footer */
.footer{
    width: 100%;
    height: 100px;
    background-color: var(--color-secundario);
    display: flex;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}
.footer__p{
    margin: auto;
    color: #f1f1f1;
    letter-spacing: 1px;
}

@media (max-width: 1280px){
    .header{
        align-items: center;
        justify-content: space-around;
        height: 100px;
        flex-direction: row;
    }
    .header__h1{
        font-size: 1.8rem;
    }
    .separador{
        display: none;
    }
    .nav{
        display: none;
    }
    .nav__ul{
        position: fixed;
        z-index: 150;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 100%;
        top: 130px;
        background-color: #1c1c1c;
        transition: left .3s ease-in-out;
    }
    .nav__menu-responsive{
        left: 0;
    }
    .nav-btn{
        display: inline-block;
    }

    /* HERO */
    .hero-contenedor{
        height: 500px;
    }
    .carousel-wrapp{
        max-width: 100%;
        max-height: 400px;
        padding: 25px 0;
    }
    .carousel-card1{
        width: 80%;
        height: 400px;
        display: flex;
        margin: auto;
        border-radius: 12px;
    }
    .carousel-card{
        width: 80%;
        height: 400px;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .carousel-img{
        width: 50%;
    }
    .articulos-section{
        width: 100%;
    }
    /* PORTA-MACETA RESPONSIVE */
    .articulos-contenedor {
        justify-content: space-around;
    }
}

@media (max-width: 992px) {
    .header{
        height: 80px;
    }
    .nav__ul{
        top: 105px;
    }
    .hero-contenedor{
        height: 500px;
        margin-top: 110px;
    }
    .carousel-info{
        width: 80%;
    }
    .carousel-card__p1,
    .carousel-card__p,
    .carousel-card__a{
        font-size: 1.5rem;
    }
    .carousel-img{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .carousel-img__img{
        width: 100%;
        height: 100%;
    }
    .articulo-card{
        width: 200px;
        height: 450px;
    }
    .articulo2-card{
        width: 200px;
        height: 400px;
    }
    .articulo2-info{
        opacity: 1;
    }
    .articulo2-card__comprar,
    .articulo2-card__wsp{
    width: 100%;
    top: 184px;
    left: 0;
    position: absolute;
    background: linear-gradient(to top, rgb(62, 248, 62) 60%, transparent);
    }
}

@media (max-width:769px) {
    .articulos__titulo{
        margin-bottom: 25px;
    }
}

@media (max-width: 576px){
    .articulos-contenedor{
        flex-direction: column;
        gap: 50px;
    }
    .articulo-card{
        width: 230px;
        height: 500px;
    }
    .articulo2-card{
        width: 230px;
        height: 500px;
    }
    .articulo2-card__comprar,
    .articulo2-card__wsp{
    width: 100%;
    top: 233px;
    left: 0;
    position: absolute;
    background: linear-gradient(to top, rgb(62, 248, 62) 60%, transparent);
    }
}

@media (max-width: 450px){
    .carousel-info{
        width: 100%;
    }
    .carousel-card__p1,
    .carousel-card__p,
    .carousel-card__a{
        font-size: 2rem;
    }
    .carousel-img{
        display: none;
    }
}
